<%= form_for @articles do |f|%>

	<% if @articles.errors.any?%>
		<h3>these errors prohibited form being saved:</h3>
			<ul>
				<%@articles.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<%end%>
			</ul>
	<%end%>

	<label for ="articles_category_id"> Category:</label><br/>
	<%= f.collection_select :category_id,Category.all,:id,:name,prompt:"Select Category"%><br/>

	<label for ="article_title">Title:</label></br>
	<%= f.text_field :title, placeholder:"Enter name" %><span id="nameMsg"></span><br/>

	<label for="article_body">Article Body</label></br>
	<%= f.text_area :body%></br>

	<label for="article_date">Publish Date:</label></br>
  <%= f.date_select :publish_date %></br>

	<br><%= f.label :cover %></br>
<%= f.file_field :cover %></br>

<%=f.hidden_field :article_id, value: @articles.id%>

	<br><%= f.submit%>
<%end%>
